{% extends "base.html" %}

{% block app_content %}
    <h2>Questionable rules</h2>
    <ul>
        <li>X number of questions.</li>
        <li>1 minute for each question.</li>
        <li>All members but one get the same question, one member gets a slightly different one.</li>
        <li>At the end of each round, members' answers are displayed, people vote to select the impostor.</li>
        <li>Until either the impostor is discovered, or questions end, the game continues.</li>
        <li>At the end of the game, scores are calculated based on who people voted for.</li>
    </ul>
{% endblock %}