{% extends "base.html" %}

{% block app_content %}
    <h1>Room {{ room.name }}, {{ room.code }}</h1>
    <p>Share this link: <a href="{{ url_for('join', room_code=room.code) }}" >http://localhost:5000/join/{{ room.code }}</a></p>
    <hr>
    <div id="scoreboard">
        <table id='user_list' class='table table-sm'> 
            <thead>
                <tr>
                    <th scope='col'>Player</th>
                    <th scope='col'>Status</th>
                    <th scope='col'>Score</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <hr>

    <div id="answerboard">
        <p>Players' answers will be displayed here at the end of each round.</p>
    </div>

{% endblock %}

{% block app_script %}
    <script>
        var ready_message = "<div id='answerboard'><p>Everyone is ready! Let's begin.</p></div>";

        $(function() {
            var user_refresh_id = setInterval(function() {
                 refresh_users('{{ room.code }}', '#user_list'); 
                 if (all_ready == true) {
                    clearInterval(user_refresh_id);
                    $('#answerboard').replaceWith(ready_message)
                    };
                }, 5000);
        });
    </script>
{% endblock %}