{% extends "base.html" %}

{% block app_content %}
    <h1>Game screen for individual users.</h1>

    <p>Name: {{ current_user.name }}</p>

    <div id="ready_button">
        <a href="javascript:user_ready('{{ current_user.id }}', '#ready_button');"><button type="button" class="btn btn-primary">Ready</button></a>
    </div>

    <!-- {% if room.users %}
        <h3>People who joined:</h3>
        <table>
            {% for user in room.users %}
            <tr>
                <p>{{ user.name }}</p>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There is no one here yet.</p>
    {% endif %} -->
{% endblock %}

{% block app_script %}
        <script>
            function user_ready(userId, buttonId) {
                $.post('/user_ready', {
                    user_id: userId
                }).done(function(response) {
                    var new_element = "<div id='user_question'> \
                                        <p>Great, waiting for other players.</p></div>";
                    $(buttonId).replaceWith(new_element);
                }).fail(function() {
                    $(buttonId).text("{{ 'Error: Could not contact server.' }}");
                });
            };
        </script>
{% endblock %}